<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="contador-app">
        <label :data-counter="0">Contador</label>: {{contador}}        
        <button type="button" :title="titulo" v-on:click="stopInterval">{{btnMsg}}</button>
    </div>
    <hr>
    <div id="imagen-app">
        <button type="button" v-on:click="mostrarImagen('css.png')">Mostrar CSS</button>
        <button type="button" v-on:click="mostrarImagen('html.png')">Mostrar HTML</button>
        <hr>
        <img v-bind:src="imageSrc" heigt="100" width="100">
    </div>

    <hr>
    <div id="modelo-app">
        <label>Escribe tu nombre: </label>
        <input type="text" v-model="nombre">
        <br>
        Hola {{nombre}}
        <br>
        <br>
        
        <select v-model="fruta">
            <option value="manzana">Manzana</option>
            <option value="pera">Pera</option>
            <option value="uva">Uva</option>
        </select>
        Fruta seleccionada: {{fruta}}

        <input type="checkbox" v-model="activo">
        {{activo}}
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <script>
        // From: https://www.youtube.com/watch?v=JGN5TqaqnRg&list=PLYAyQauAPx8l7G8lTbSv23UTAwbVORY1r&index=2
        const contador = {
            data() {
                return {
                    contador: 0,
                    interval: null,
                    isRunning: false,
                    btnMsg: "Detener", 
                    titulo: "Detener o continuar contador"
                }
            },
            mounted() {
                this.startInterval();
            },
            methods: {
                startInterval(){
                    this.interval = setInterval(() => {
                        this.contador ++; 
                    }, 500);
                    this.isRunning = true;
                    this.btnMsg = "Detener";
                },
                stopInterval(){
                    if(this.isRunning){
                        clearInterval(this.interval);
                        this.isRunning = false;
                        this.btnMsg = "Continuar";
                    }else{
                        this.startInterval();   
                    }                    
                }
            }
        }

        var mountedApp = Vue.createApp(contador).mount("#contador-app");
         
        // From: https://www.youtube.com/watch?v=5-SsRpGa9NM&list=PLYAyQauAPx8l7G8lTbSv23UTAwbVORY1r&index=3
        const imagen = {
            data() {
                return {
                    imageSrc: ""
                }                
            },
            methods: {
                mostrarImagen(imageSrc){
                    this.imageSrc = imageSrc;
                    console.log(this.imageSrc);
                }
            }
        }

        var mountedApp2 = Vue.createApp(imagen).mount("#imagen-app");

        // From: https://www.youtube.com/watch?v=iCoJC3P0ftQ&list=PLYAyQauAPx8l7G8lTbSv23UTAwbVORY1r&index=4
        const modelo = {
            data() {
                return {
                    nombre: "", 
                    fruta: "",
                    activo: false
                }
            }
        }
        
        var mountedApp3 = Vue.createApp(modelo).mount("#modelo-app");
    </script>    
</body>
</html>